In [1]:
import pandas as pd

In [2]:
#load billboard and grammy data
billboard = pd.read_csv(r'C:\Users\koenm\OneDrive\Bureaublad\Thesis\Metacritic_thesis\grammy\input\billboard_average_per_artist.csv')
grammy = pd.read_csv(r'C:\Users\koenm\OneDrive\Bureaublad\Thesis\Metacritic_thesis\grammy\input\grammyalteredformerge.csv', delimiter=";")

In [3]:
#merge on artis and year
merged = pd.merge(billboard, grammy, on=['artist','year'], how='left')
merged.head()

,year,artist,Median_position,Min_peak,Max_weeks_on_chart,Unnamed: 0,wins,nominated,total_previous_wins,total_previous_nomination
0,1963,al hirt,94.0,34,15,NaN,NaN,NaN,NaN,NaN
1,1963,al jolson,101.0,87,4,NaN,NaN,NaN,NaN,NaN
2,1963,al martino,23.0,9,20,NaN,NaN,NaN,NaN,NaN
3,1963,allan sherman,63.0,1,20,NaN,NaN,NaN,NaN,NaN
4,1963,andre previn,134.0,130,4,NaN,NaN,NaN,NaN,NaN

In [4]:
#change nan to 0 
merged = merged.fillna(0)
merged.head()

,year,artist,Median_position,Min_peak,Max_weeks_on_chart,Unnamed: 0,wins,nominated,total_previous_wins,total_previous_nomination
0,1963,al hirt,94.0,34,15,0.0,0.0,0.0,0.0,0.0
1,1963,al jolson,101.0,87,4,0.0,0.0,0.0,0.0,0.0
2,1963,al martino,23.0,9,20,0.0,0.0,0.0,0.0,0.0
3,1963,allan sherman,63.0,1,20,0.0,0.0,0.0,0.0,0.0
4,1963,andre previn,134.0,130,4,0.0,0.0,0.0,0.0,0.0

In [5]:
#save file
merged.to_csv(r'C:\Users\koenm\OneDrive\Bureaublad\Thesis\Metacritic_thesis\grammy\output\grammybillboardmerge.csv')