In [29]:
import pandas as pd
import json

In [30]:
position=[]
date=[]
title=[]
artist=[]
position_last_week=[]
peak=[]
weeks_on_chart=[]

with open(r'C:\Users\koenm\OneDrive\Bureaublad\Thesis\Metacritic_thesis\original data\billboard25052021.json') as j:
    billboard=json.load(j)
    #print(json.dumps(billboard,indent=4))
    #finaldf = pd.DataFrame(columns=['date', 'position', 'title', 'artist', 'position_last_week', 'peak', 'weeks_on_chart'])
    for data in billboard:
        songs=data['songs']
        for item in songs:
            position.append(item['position'])
            title.append(item['title'])
            artist.append(item['artist'])
            position_last_week.append(item['last_week'])
            peak.append(item['peak'])
            weeks_on_chart.append(item['week'])
            date.append(data['date'])

row={
'date':date,
'position': position,
'title': title,
'artist': artist,
'position_last_week': position_last_week,
'peak': peak,
'weeks_on_chart': weeks_on_chart
}

df = pd.DataFrame(row)
#print(rowdf)

In [31]:
#Lower case
df['artist'] = df['artist'].str.lower()
df['title'] = df['title'].str.lower()

In [32]:
#removing the "features" and & text
df['artist'] = df['artist'].str.replace('featuring','')
df['artist'] = df['artist'].str.replace('&','')
df.head(n=20)

,date,position,title,artist,position_last_week,peak,weeks_on_chart
0,1963-07-17,1,days of wine and roses,andy williams,-,1,1
1,1963-07-17,2,little stevie wonder/the 12 year old genius,stevie wonder,-,2,1
2,1963-07-17,3,west side story,soundtrack,-,3,1
3,1963-07-17,4,(moving),"peter, paul mary",-,4,1
4,1963-07-17,5,trini lopez at pj's,trini lopez,-,5,1
5,1963-07-17,6,"peter, paul and mary","peter, paul mary",-,6,1
6,1963-07-17,7,live at the apollo,james brown,-,7,1
7,1963-07-17,8,shut down,various artists,-,8,1
8,1963-07-17,9,cleopatra,soundtrack,-,9,1
9,1963-07-17,10,bye bye birdie,soundtrack,-,10,1
10,1963-07-17,11,lawrence of arabia,soundtrack,-,11,1
11,1963-07-17,12,call on me/that's the way love is,bobby bland,-,12,1
12,1963-07-17,13,how the west was won,soundtrack,-,13,1
13,1963-07-17,14,i love you because,al martino,-,14,1
14,1963-07-17,15,surfin' u.s.a.,the beach boys,-,15,1
15,1963-07-17,16,the concert sinatra,frank sinatra (riddle),-,16,1
16,1963-07-17,17,the barbra streisand album,barbra streisand,-,17,1
17,1963-07-17,18,broadway-my way,nancy wilson,-,18,1
18,1963-07-17,19,joan baez in concert,joan baez,-,19,1
19,1963-07-17,20,moon river & other great movie themes,andy williams,-,20,1

In [33]:
#removing ( and ) from text
df['artist'] = df['artist'].str.replace(')','')
df['artist'] = df['artist'].str.replace('(','')
df['title'] = df['title'].str.replace('(','')
df['title'] = df['title'].str.replace(')','')

<ipython-input-33-71f9e6539d8d>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['artist'] = df['artist'].str.replace(')','')
<ipython-input-33-71f9e6539d8d>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['artist'] = df['artist'].str.replace('(','')
<ipython-input-33-71f9e6539d8d>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['title'] = df['title'].str.replace('(','')
<ipython-input-33-71f9e6539d8d>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['title'] = df['title'].str.replace(')','')

In [34]:
#splitting artists 
df['artist'] = df['artist'].str.split(',').str[0]
df.head(n=20)

,date,position,title,artist,position_last_week,peak,weeks_on_chart
0,1963-07-17,1,days of wine and roses,andy williams,-,1,1
1,1963-07-17,2,little stevie wonder/the 12 year old genius,stevie wonder,-,2,1
2,1963-07-17,3,west side story,soundtrack,-,3,1
3,1963-07-17,4,moving,peter,-,4,1
4,1963-07-17,5,trini lopez at pj's,trini lopez,-,5,1
5,1963-07-17,6,"peter, paul and mary",peter,-,6,1
6,1963-07-17,7,live at the apollo,james brown,-,7,1
7,1963-07-17,8,shut down,various artists,-,8,1
8,1963-07-17,9,cleopatra,soundtrack,-,9,1
9,1963-07-17,10,bye bye birdie,soundtrack,-,10,1
10,1963-07-17,11,lawrence of arabia,soundtrack,-,11,1
11,1963-07-17,12,call on me/that's the way love is,bobby bland,-,12,1
12,1963-07-17,13,how the west was won,soundtrack,-,13,1
13,1963-07-17,14,i love you because,al martino,-,14,1
14,1963-07-17,15,surfin' u.s.a.,the beach boys,-,15,1
15,1963-07-17,16,the concert sinatra,frank sinatra riddle,-,16,1
16,1963-07-17,17,the barbra streisand album,barbra streisand,-,17,1
17,1963-07-17,18,broadway-my way,nancy wilson,-,18,1
18,1963-07-17,19,joan baez in concert,joan baez,-,19,1
19,1963-07-17,20,moon river & other great movie themes,andy williams,-,20,1

In [35]:
df.to_csv(r'C:\Users\koenm\OneDrive\Bureaublad\Thesis\output\cleaned\billboardfinal0706.csv')